<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="/">
            <img src="/images/logo.png" height="16" alt="vimal Logo"
                loading="lazy" style="margin-top: -1px;" />
        </a>

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample"
            aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Dashboard</a>
                </li>
            </ul>
            <!-- Left links -->

            <div class="d-flex align-items-center">
                <button type="button" class="btn btn-primary me-3">
                    <a href="/login" style="color: aliceblue">LogIn</a>
                </button>
                <button type="button" class="btn btn-primary me-3">
                    <a href="/register" style="color: aliceblue">Register</a>
                </button>
                <button type="button" class="btn btn-primary me-3">
                    <a href="/" style="color: aliceblue" >HOME</a>
                </button>
                <a class="btn btn-dark px-3" href="#" role="button"><i
                        class="fab fa-github"></i></a>
            </div>
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->